.a1 {
    font-family: 'Lexend', sans-serif;
}

.a2 {
    font-family: 'Inter', sans-serif;
}

.a3 {
    font-family: "Roboto", sans-serif;
}

.a4 {
    font-family: 'Ubuntu', sans-serif;
}

.p-1 {}

.b1 {
    font-family: 'Inter', sans-serif;
}

.c1 {
    scrollbar-width: none;
}