.textbox p {
    font-family: 'Inika', sans-serif;
}

.a1 {
    font-family: "Lexend", sans-serif;
}

.a2 {
    font-family: "Roboto", sans-serif;
}

.a3 {
    font-family: "Inter", sans-serif;
}

.a4 {
    font-family: "Ubuntu", sans-serif;
}