* {
    margin: 0;
    padding: 0;
}

/* .a1{
    background-image:url(../../assets/pic1.jpeg);
    background-size:cover;
} */
.textbox p {
    font-family: 'Roboto', sans-serif;

}

.backpic {
    background-image: url("../../assets/pic1.jpeg");
    background-size: cover;
}

.a1 {
    font-family: "Lexend", sans-serif;
}

.a2 {
    font-family: "Roboto", sans-serif;
}

.a3 {
    font-family: "Inter", sans-serif;
}

.a4 {
    font-family: "Ubuntu", sans-serif;
}