.head p {
    font-family: "Inria", sans-serif;
    font-family:"Lexend",sans-serif;
    font-weight: 500;
}

.s1 {
    font-family: "Lexend", sans-serif;
}

.slider {
    /* scrollbar-width:thin; */
    scrollbar-width:none;
    height:120%;
}